<section class="my-10">
  <h2 class="text-center text-3xl font-bold dark:text-white">
    Your wishlist
    <i class="fa-regular fa-heart ms-1.5"></i>
  </h2>
  <p class="my-4 text-lg dark:text-white">
    <span class="font-bold"> {{ count }} </span> Items were added to your
    wishlist.
  </p>

  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    @for (product of products; track product.id) {
      <app-product-card
        (updatedproductsEmitter)="updateProducts($event)"
        [imagePath]="product.imageCover"
        [price]="product.price"
        [rating]="product.ratingsAverage"
        [title]="product.title"
        [id]="product.id"
        [removeProduct]="true"
      ></app-product-card>
    }
  </div>
</section>
