<section class="my-10">
  <h1 class="text-xl font-bold capitalize dark:text-white">
    {{ "wishlist.title" | translate }}
    <i class="fa-regular fa-heart ms-1.5"></i>
  </h1>

  @if (products().length > 0) {
    <p class="my-4 text-lg dark:text-white">
      <span class="font-bold"> {{ count() }} </span>
      {{ "wishlist.itemsAdded" | translate }}
    </p>
  }

  <div
    class="mt-6 grid gap-4 sm:mt-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    @for (product of products(); track product.id) {
      <app-product-card
        (updatedproductsEmitter)="updateWishList($event)"
        [imagePath]="product.imageCover"
        [price]="product.price"
        [rating]="product.ratingsAverage"
        [title]="product.title"
        [id]="product.id"
        [removeProduct]="true"
        [quantity]="product.quantity"
      ></app-product-card>
    } @empty {
      <div class="col-span-full my-5 text-center">
        <i class="fa-solid fa-heart-crack fa-3x dark:text-slate-300"></i>
        <h1 class="my-4 text-xl font-medium dark:text-white">
          {{ "wishlist.emptyMessage" | translate }}
        </h1>
        <p class="my-4 text-gray-500 dark:text-gray-400">
          {{ "wishlist.emptyDescription" | translate }}
        </p>
        <a routerLink="/home" class="main-btn mx-auto block w-fit">
          {{ "wishlist.startShopping" | translate }}
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    }
  </div>
</section>
