<section class="my-10">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 sm:col-span-4">
      <img
        class="block h-[300px] w-full object-contain"
        [src]="productDetails?.imageCover"
        [alt]="productDetails?.title"
      />

      <button
        type="button"
        (click)="displayBasic = true"
        class="mx-auto my-2 block w-fit rounded-lg bg-gradient-to-br from-green-400 to-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none dark:focus:ring-green-800"
      >
        {{ "details.previewMore" | translate }}
        <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
      </button>

      <p-galleria
        [value]="productDetails?.images"
        [(visible)]="displayBasic"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '850px' }"
        [numVisible]="7"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
      >
        <ng-template #item let-item>
          <img [src]="item" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </div>

    <div
      class="sm-pt-0 col-span-12 space-y-4 border-t-2 border-slate-100 pt-4 dark:border-slate-600 sm:col-span-8 sm:border-s-2 sm:border-t-0 sm:ps-10"
    >
      <h5
        class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
      >
        {{ productDetails?.title }}
      </h5>
      <p class="text-gray-500 dark:text-gray-400">
        {{ productDetails?.description }}
      </p>

      <!-- Labels -->
      <div
        class="w-fit rounded-sm bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
      >
        {{ productDetails?.category?.name }}
      </div>
      <div
        class="w-fit rounded-sm bg-rose-100 px-2.5 py-0.5 text-xs font-medium text-rose-800 dark:bg-rose-900 dark:text-rose-300"
      >
        {{ productDetails?.brand?.name }}
      </div>
      <div>
        @if (productDetails && productDetails.quantity >= 100) {
          <span
            class="me-2 rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300"
          >
            {{ "details.availability.available" | translate }}
          </span>
        } @else if (
          productDetails &&
          productDetails.quantity > 0 &&
          productDetails.quantity < 100
        ) {
          <span
            class="me-2 rounded bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300"
          >
            {{ "details.availability.limited" | translate }}
          </span>
        } @else {
          <span
            class="me-2 rounded bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-red-900 dark:text-red-300"
          >
            {{ "details.availability.unavailable" | translate }}
          </span>
        }
      </div>

      <!-- Add To Favorites -->
      <button
        (click)="addProductToWishlist()"
        type="button"
        class="inline-flex items-center font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white"
      >
        <svg
          class="me-1 h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
          />
        </svg>
        {{ "productCard.addToWishlist" | translate }}
      </button>

      <!-- Rating -->
      <div class="flex items-center">
        @for (star of stars; track $index) {
          <svg
            class="me-1 h-4 w-4 text-yellow-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
        }
        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">
          {{ productDetails?.ratingsAverage }}
        </p>
        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">
          {{ "details.outOf" | translate }}
        </p>
        <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">
          5
        </p>
      </div>

      <!-- Price -->
      <div class="text-3xl font-bold text-gray-900 dark:text-white">
        {{ productDetails?.price | currency: "GBP" }}
      </div>
      <button (click)="addProductToCart()" class="main-btn">
        {{ "details.addToCart" | translate }}
      </button>
    </div>
  </div>
</section>
