<nav class="my-5 flex justify-center" aria-label="Page navigation">
  <ul class="inline-flex -space-x-px text-sm">
    <li>
      <a
        (click)="moveToPage(pageNumber() - 1)"
        class="ms-0 flex h-8 cursor-pointer items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.previous" | translate }}
      </a>
    </li>
    <li>
      <a
        (click)="moveToPage(1)"
        [class.active-page]="pageNumber() === 1"
        class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.pages.one" | translate }}
      </a>
    </li>
    <li>
      <a
        (click)="moveToPage(2)"
        [class.active-page]="pageNumber() === 2"
        class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.pages.two" | translate }}
      </a>
    </li>
    <li>
      <a
        (click)="moveToPage(3)"
        [class.active-page]="pageNumber() === 3"
        class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.pages.three" | translate }}
      </a>
    </li>
    <li>
      <a
        (click)="moveToPage(4)"
        [class.active-page]="pageNumber() === 4"
        class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.pages.four" | translate }}
      </a>
    </li>

    <li>
      <a
        (click)="moveToPage(pageNumber() + 1)"
        class="flex h-8 cursor-pointer items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        {{ "pagination.next" | translate }}
      </a>
    </li>
  </ul>
</nav>
