@let emailControl = loginForm.get("email");
@let passwordControl = loginForm.get("password");

<section class="my-10">
  <h1 class="my-5 text-center text-2xl font-bold dark:text-slate-300">
    Login Now
  </h1>
  <form
    (ngSubmit)="login()"
    [formGroup]="loginForm"
    class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600"
  >
    <!-- Email -->
    <div class="mb-5">
      <label
        for="email"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >Email Address</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (emailControl?.touched && emailControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (emailControl?.hasError("required")) {
            <p>Please enter your email address.</p>
          } @else if (emailControl?.hasError("email")) {
            <p>Please enter a valid email.</p>
          }
        </div>
      }
    </div>

    <!-- Password -->
    <div class="mb-5">
      <label
        for="password"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >password</label
      >
      <input
        formControlName="password"
        type="password"
        id="password"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (passwordControl?.touched && passwordControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          <p>Please enter your password.</p>
        </div>
      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
    >
      @if (isLoading) {
        <svg
          aria-hidden="true"
          role="status"
          class="me-3 inline h-4 w-4 animate-spin text-white"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="#E5E7EB"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor"
          />
        </svg>
        Logging
      } @else {
        Login
      }
    </button>

    @if (serverErrorMsg) {
      <div
        id="serverErrorMsg"
        class="my-2 flex items-center rounded-lg bg-red-50 p-4 text-red-800 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="h-4 w-4 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div class="ms-3 text-sm font-medium">{{ serverErrorMsg }}</div>
        <button
          (click)="serverErrorMsg = ''"
          type="button"
          class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-red-50 p-1.5 text-red-500 hover:bg-red-200 focus:ring-2 focus:ring-red-400 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
          data-dismiss-target="#serverErrorMsg"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    }
    @if (isLoggedInSuccessfully) {
      <div
        class="my-2 rounded-lg bg-green-50 p-4 text-green-800 dark:bg-gray-800 dark:text-green-400"
        role="alert"
      >
        You are logged in.
      </div>
    }
  </form>

  <!-- Register Now  -->
  <p class="mx-auto my-2 max-w-screen-sm text-gray-500 dark:text-gray-400">
    Don't have an account ?
    <a
      routerLink="/register"
      class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      Register Now
      <svg
        class="ms-2 h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </p>

  <!-- Forget Your Password -->
  <p class="mx-auto my-2 max-w-screen-sm text-gray-500 dark:text-gray-400">
    Did you forget your password ?
    <a
      routerLink="/forgetPassword"
      class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      Forget Password
      <svg
        class="ms-2 h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </p>
</section>
