@let emailControl = loginForm.get("email");
@let passwordControl = loginForm.get("password");

<section class="my-10">
  <h1 class="my-5 text-center text-2xl font-bold dark:text-slate-300">
    {{ "login.loginNow" | translate }}
  </h1>
  <form
    (ngSubmit)="login()"
    [formGroup]="loginForm"
    class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600"
  >
    <!-- Email -->
    <div class="mb-5">
      <label
        for="email"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "login.emailAddress" | translate }}
      </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (emailControl?.touched && emailControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (emailControl?.hasError("required")) {
            <p>
              {{ "login.emailErrors.required" | translate }}
            </p>
          } @else if (emailControl?.hasError("email")) {
            <p>
              {{ "login.emailErrors.email" | translate }}
            </p>
          }
        </div>
      }
    </div>

    <!-- Password -->
    <div class="mb-5">
      <label
        for="password"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "login.password" | translate }}
      </label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (passwordControl?.touched && passwordControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          <p>
            {{ "login.passwordErrors.required" | translate }}
          </p>
        </div>
      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
    >
      {{ "login.loginButton" | translate }}
    </button>
  </form>

  <!-- Register Now  -->
  <p class="mx-auto my-2 max-w-screen-sm text-gray-500 dark:text-gray-400">
    {{ "login.registerPrompt" | translate }}
    <a
      routerLink="/register"
      class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      {{ "login.registerNow" | translate }}
      <svg
        class="ms-2 h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </p>

  <!-- Forget Your Password -->
  <p class="mx-auto my-2 max-w-screen-sm text-gray-500 dark:text-gray-400">
    {{ "login.forgotPasswordPrompt" | translate }}
    <a
      routerLink="/forgetPassword"
      class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      {{ "login.forgotPassword" | translate }}
      <svg
        class="ms-2 h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </p>
</section>
