<section class="my-10">
  <h1 class="my-4 text-center text-3xl font-bold text-gray-900 dark:text-white">
    All Products
  </h1>

  <!-- Search -->
  <div class="center my-5 flex flex-col items-center gap-4">
    <!-- Search -->
    <div class="relative w-1/2">
      <div
        class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
      >
        <svg
          class="h-4 w-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        [(ngModel)]="searchValue"
        (input)="searchProducts(searchValue)"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 ps-10 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
        placeholder="Search by name, description, ..."
      />
    </div>

    <!-- Filtration -->
    <div class="flex items-center justify-center gap-4">
      <select
        [(ngModel)]="filteredCategoryValue"
        (change)="filterByCategory(filteredCategoryValue)"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        <option [value]="''">Filter by category</option>
        @for (category of allCategories; track category._id) {
          <option [value]="category.name">{{ category.name }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Display searched products -->
  @if (searchValue) {
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      @for (product of searchedProducts; track product.id) {
        <app-product-card
          [imagePath]="product.imageCover"
          [price]="product.price"
          [rating]="product.ratingsAverage"
          [title]="product.title"
          [id]="product.id"
          [addToFavorites]="true"
        ></app-product-card>
      } @empty {
        <div class="col-span-full">
          <div
            class="mx-auto rounded-lg border border-yellow-300 bg-yellow-50 p-4 text-center text-yellow-800 dark:border-yellow-800 dark:bg-gray-800 dark:text-yellow-400 sm:w-1/2"
            role="alert"
          >
            <span class="sr-only">Info</span>
            <p>There is matching products.</p>
          </div>
        </div>
      }
    </div>
  } @else if (filteredCategoryValue) {
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      @for (product of filteredProducts; track product.id) {
        <app-product-card
          [imagePath]="product.imageCover"
          [price]="product.price"
          [rating]="product.ratingsAverage"
          [title]="product.title"
          [id]="product.id"
          [addToFavorites]="true"
        ></app-product-card>
      } @empty {
        <div class="col-span-full">
          <div
            class="mx-auto rounded-lg border border-yellow-300 bg-yellow-50 p-4 text-center text-yellow-800 dark:border-yellow-800 dark:bg-gray-800 dark:text-yellow-400 sm:w-1/2"
            role="alert"
          >
            <span class="sr-only">Info</span>
            <p>There is matching products.</p>
          </div>
        </div>
      }
    </div>
  }
  <!-- Display paginated products -->
  @else {
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      @for (product of paginatedProducts; track product.id) {
        <app-product-card
          [imagePath]="product.imageCover"
          [price]="product.price"
          [rating]="product.ratingsAverage"
          [title]="product.title"
          [id]="product.id"
          [addToFavorites]="true"
        ></app-product-card>
      }
    </div>

    <!-- Pagination -->
    <nav class="my-5 flex justify-center" aria-label="Page navigation">
      <ul class="inline-flex -space-x-px text-sm">
        <li>
          <a
            (click)="initPaginatedProducts(pageIndex - 1)"
            class="ms-0 flex h-8 cursor-pointer items-center justify-center rounded-s-lg border border-e-0 border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Previous</a
          >
        </li>
        <li>
          <a
            [class.active-page]="pageIndex === 1"
            (click)="initPaginatedProducts(1)"
            class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >1</a
          >
        </li>
        <li>
          <a
            [class.active-page]="pageIndex === 2"
            (click)="initPaginatedProducts(2)"
            class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >2</a
          >
        </li>
        <li>
          <a
            [class.active-page]="pageIndex === 3"
            (click)="initPaginatedProducts(3)"
            class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >3</a
          >
        </li>
        <li>
          <a
            [class.active-page]="pageIndex === 4"
            (click)="initPaginatedProducts(4)"
            class="flex h-8 cursor-pointer items-center justify-center border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >4</a
          >
        </li>

        <li>
          <a
            (click)="initPaginatedProducts(pageIndex + 1)"
            class="flex h-8 cursor-pointer items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  }
</section>
