@let nameControl = registerForm.get("name");
@let emailControl = registerForm.get("email");
@let passwordControl = registerForm.get("password");
@let rePasswordControl = registerForm.get("rePassword");
@let phoneControl = registerForm.get("phone");

<section class="my-10">
  <h1 class="my-5 text-center text-2xl font-bold dark:text-slate-300">
    {{ "register.registerNow" | translate }}
  </h1>
  <form
    (ngSubmit)="register()"
    [formGroup]="registerForm"
    class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600"
  >
    <!-- Name -->
    <div class="mb-5">
      <label
        for="name"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "register.name" | translate }}
      </label>
      <input
        formControlName="name"
        type="text"
        id="name"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (nameControl?.touched && nameControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (nameControl?.hasError("required")) {
            <p>
              {{ "register.validation.nameRequired" | translate }}
            </p>
          } @else if (nameControl?.hasError("minlength")) {
            <p>
              {{ "register.validation.nameMinLength" | translate }}
            </p>
          } @else if (nameControl?.hasError("maxlength")) {
            <p>
              {{ "register.validation.nameMaxLength" | translate }}
            </p>
          }
        </div>
      }
    </div>

    <!-- Email -->
    <div class="mb-5">
      <label
        for="email"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "register.emailAddress" | translate }}
      </label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (emailControl?.touched && emailControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (emailControl?.hasError("required")) {
            <p>
              {{ "register.validation.emailRequired" | translate }}
            </p>
          } @else if (emailControl?.hasError("email")) {
            <p>
              {{ "register.validation.emailInvalid" | translate }}
            </p>
          }
        </div>
      }
    </div>

    <!-- Password -->
    <div class="mb-5">
      <label
        for="password"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "register.password" | translate }}
      </label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (passwordControl?.touched && passwordControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (passwordControl?.hasError("required")) {
            <p>
              {{ "register.validation.passwordRequired" | translate }}
            </p>
          } @else if (passwordControl?.hasError("pattern")) {
            <p>
              {{ "register.validation.passwordPattern" | translate }}
            </p>
          }
        </div>
      }
    </div>

    <!-- Confirm Password -->
    <div class="mb-5">
      <label
        for="rePassword"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "register.confirmPassword" | translate }}
      </label>
      <input
        formControlName="rePassword"
        type="password"
        id="rePassword"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (rePasswordControl?.touched && registerForm.hasError("mismatch")) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <p>
            {{ "register.validation.passwordMismatch" | translate }}
          </p>
        </div>
      }
    </div>

    <!-- Phone -->
    <div class="mb-5">
      <label
        for="phone"
        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >
        {{ "register.phone" | translate }}
      </label>
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
      />

      <!--* Validation Message -->
      @if (phoneControl?.touched && phoneControl?.errors) {
        <div
          class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="me-3 inline h-4 w-4 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>

          @if (phoneControl?.hasError("required")) {
            <p>
              {{ "register.validation.phoneRequired" | translate }}
            </p>
          } @else if (phoneControl?.hasError("pattern")) {
            <p>
              {{ "register.validation.phonePattern" | translate }}
            </p>
          }
        </div>
      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
    >
      {{ "register.registerButton" | translate }}
    </button>
  </form>
  <p class="mx-auto my-2 max-w-screen-sm text-gray-500 dark:text-gray-400">
    {{ "register.loginPrompt" | translate }}
    <a
      routerLink="/login"
      class="inline-flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
    >
      {{ "register.loginNow" | translate }}
      <svg
        class="ms-2 h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </p>
</section>
