<footer class="bg-slate-200 p-5 dark:bg-slate-600 dark:text-slate-300">
  <div>
    <h2 class="text-2xl font-bold">Get the Fresh Cart app</h2>
    <p class="my-2 text-sm text-gray-500 dark:text-gray-400">
      We will send you a link, open it on your phone to download the app.
    </p>
    <form>
      <div class="flex items-center space-x-4">
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3.5"
          >
            <svg
              class="h-4 w-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 16"
            >
              <path
                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
              />
              <path
                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
              />
            </svg>
          </div>
          <input
            type="text"
            id="input-group-1"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 focus:border-green-600 focus:ring-green-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-600 dark:focus:ring-green-600"
            placeholder="name@gmail.com"
          />
        </div>

        <button type="button" class="main-btn">Send</button>
      </div>
    </form>

    <div class="mt-5 flex flex-wrap items-center justify-between gap-4">
      <div>
        <h2 class="font-bold">Payment Partners</h2>
        <div class="flex items-center space-x-4 rounded-lg bg-slate-400/25 p-4">
          <!-- <img class="w-14" src="/images/paypal.png" alt="Paypal icon" /> -->
          <!-- <img
            class="w-14"
            src="/images/American-Express-Color.png"
            alt="American-Express icon"
            /> -->
          <!-- <img class="w-14" src="/images/amazon-pay.png" alt="Amazon icon" /> -->
          <!-- <img
              class="w-14"
              src="/images/mastercard.webp"
              alt="Mastercard icon"
            /> -->

          <i class="fa-brands fa-xl fa-paypal dark:text-slate-950"></i>
          <i class="fa-brands fa-xl fa-cc-visa dark:text-slate-950"></i>
          <i class="fa-brands fa-xl fa-cc-amazon-pay dark:text-slate-950"></i>
          <i class="fa-brands fa-xl fa-cc-mastercard dark:text-slate-950"></i>
        </div>
      </div>

      <div class="flex items-center space-x-2">
        <!-- <span class="text font-medium underline">Download Now</span>
        <div class="flex items-center">
          <img
            class="w-24 cursor-pointer"
            src="/images/get-google-play.png"
            alt="Google play icon"
          />
          <img
            class="w-24 cursor-pointer"
            src="/images/get-apple-store.png"
            alt="Apple store icon"
          />
        </div> -->
      </div>
    </div>
  </div>
</footer>
