<section class="my-10">
  <h1 class="my-5 text-center text-2xl font-bold dark:text-slate-300">
    {{ "forgetPassword.forgetPassword" | translate }}
  </h1>

  @if (step === 1) {
    @let emailControl = emailForm.get("email");
    <form
      [formGroup]="emailForm"
      (ngSubmit)="sendEmailForm()"
      class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600 dark:bg-gray-800"
    >
      <!-- Email -->
      <div class="mb-5">
        <label
          for="email"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "forgetPassword.emailAddress" | translate }}
        </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
        />

        <!--* Validation Message -->
        @if (emailControl?.touched && emailControl?.errors) {
          <div
            class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="me-3 inline h-4 w-4 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>

            @if (emailControl?.hasError("required")) {
              <p>
                {{ "register.validation.emailRequired" | translate }}
              </p>
            } @else if (emailControl?.hasError("email")) {
              <p>
                {{ "register.validation.emailInvalid" | translate }}
              </p>
            }
          </div>
        }
      </div>

      <button
        [disabled]="isLoading"
        type="submit"
        class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
      >
        {{ "forgetPassword.sendButton" | translate }}
      </button>
    </form>
  } @else if (step === 2) {
    @let resetCodeControl = resetCodeForm.get("resetCode");
    <form
      [formGroup]="resetCodeForm"
      (ngSubmit)="sendRestCodeForm()"
      class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600 dark:bg-gray-800"
    >
      <!-- Message -->
      <div
        class="my-2 rounded-lg bg-green-50 p-4 text-green-800 dark:bg-gray-800 dark:text-green-400"
        role="alert"
      >
        {{ "forgetPassword.resetCodeSent" | translate }}
      </div>

      <!-- Reset Code -->
      <div class="mb-5">
        <label
          for="resetCode"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "forgetPassword.resetCode" | translate }}
        </label>
        <input
          formControlName="resetCode"
          type="text"
          id="resetCode"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
        />

        <!--* Validation Message -->
        @if (resetCodeControl?.touched && resetCodeControl?.errors) {
          <div
            class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="me-3 inline h-4 w-4 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>

            <p>
              {{ "forgetPassword.validation.resetCodeRequired" | translate }}
            </p>
          </div>
        }
      </div>

      <button
        [disabled]="isLoading"
        type="submit"
        class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
      >
        {{ "forgetPassword.sendButton" | translate }}
      </button>
    </form>
  } @else if (step === 3) {
    @let emailControl = newPasswordForm.get("email");
    @let newPasswordControl = newPasswordForm.get("newPassword");
    <form
      [formGroup]="newPasswordForm"
      (ngSubmit)="sendNewPasswordForm()"
      class="mx-auto max-w-screen-sm rounded-lg border p-5 shadow dark:border-slate-600 dark:bg-gray-800"
    >
      <!-- Email Address -->
      <div class="mb-5">
        <label
          for="email"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "register.emailAddress" | translate }}
        </label>
        <input
          readonly
          formControlName="email"
          type="email"
          id="email"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
        />

        <!--* Validation Message -->
        @if (emailControl?.touched && emailControl?.errors) {
          <div
            class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="me-3 inline h-4 w-4 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>

            @if (emailControl?.hasError("required")) {
              <p>
                {{ "register.validation.emailRequired" | translate }}
              </p>
            } @else if (emailControl?.hasError("email")) {
              <p>
                {{ "register.validation.emailInvalid" | translate }}
              </p>
            }
          </div>
        }
      </div>

      <!-- New Password -->
      <div class="mb-5">
        <label
          for="newPassword"
          class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
        >
          {{ "forgetPassword.newPassword" | translate }}
        </label>
        <input
          formControlName="newPassword"
          type="password"
          id="newPassword"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-green-500 focus:ring-green-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-green-500 dark:focus:ring-green-500"
        />

        <!--* Validation Message -->
        @if (newPasswordControl?.touched && newPasswordControl?.errors) {
          <div
            class="flex items-center py-2 text-sm text-red-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="me-3 inline h-4 w-4 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>

            @if (newPasswordControl?.hasError("required")) {
              <p>
                {{ "register.validation.passwordRequired" | translate }}
              </p>
            } @else if (newPasswordControl?.hasError("pattern")) {
              <p>
                {{ "register.validation.passwordPattern" | translate }}
              </p>
            }
          </div>
        }
      </div>

      <!-- Send Button -->
      <button
        [disabled]="isLoading"
        type="submit"
        class="main-btn w-full disabled:cursor-not-allowed disabled:bg-gray-500 sm:w-auto"
      >
        {{ "forgetPassword.sendButton" | translate }}
      </button>
    </form>
  }
</section>
